<div class="content-wrap">
  <section class="white-box">
    <img src="imgs/snow.jpg" id="snow">
    <article id="about-me">
      <h2>About Me</h2>
      <p>I was working in a chemistry research lab in LA when I starting futzing around with an open-source program called PyMOL. I tried writing a plug-in for it and got <em>hooked</em>! Having found my true passion, programming, I began Dev Bootcamp to be reborn. I like programming because unlike in chemistry, you can create something out of nothing. When you have an idea, you just have to code it!</p>
      <p>I've mastered the art of saying things that aren't technically incorrect, as all scientists must do. I'm really good at cooking a mean breakfast, eating quantities of food that would be <em>fatal</em> to others, and getting a farmer's tan. I enjoy all forms of racquet-based sports. I'll pretty much do anything in exchange for sushi. I can't live without memory foam! Or the internet. I'm an avid fan of music that everybody hates. I enjoy the outdoors. And the indoors. The doorways between the two are just okay. I like to take innocent games and foul them by turning them into drinking games, such as Mario Kart.</p>
    </article>
  </section>
</div>