<div class="content-wrap">
  <section class="white-box">
    <img src="imgs/snow.jpg" id="snow">
    <article id="about-me">
      <h2>About Me</h2>
      <p>I was working in a chemistry research lab in LA when I starting futzing around with an open-source program called PyMOL. I tried writing a plug-in for it and got <em>hooked</em>! Having found my true passion, programming, I began studying programming to be reborn. I like programming because unlike in chemistry, you can create something out of nothing. When you have an idea, you just have to code it!</p>
      <p>I've mastered the art of saying things that aren't technically incorrect, as all scientists must do. I'm really good at cooking a mean breakfast, eating quantities of food that would be <em>fatal</em> to others, and getting a farmer's tan. I enjoy all forms of racquet-based sports. I'll pretty much do anything in exchange for sushi. I can't live without memory foam! Or the internet. I'm an avid fan of music that everybody hates. I enjoy the outdoors. And the indoors. The doorways between the two are just okay. I like to take innocent games and foul them by turning them into drinking games, such as Mario Kart.</p>
    </article>
  </section>
</div>

<div class="content-wrap">
  <aside>
    <h4><a href="#">Resume Coming Soon</a></h4>
    <p>Bacon ipsum dolor amet pork chop ground round ham sirloin. Cupim strip steak beef ribs kielbasa pork short loin pork loin bresaola shoulder jowl chicken leberkas porchetta prosciutto. Picanha t-bone ground round capicola tail, pork prosciutto pork loin tri-tip. Ground round biltong pork chop capicola. Pork filet mignon strip steak, pastrami drumstick shankle alcatra.</p>
  </aside>

  <section class="white-box-2">
    <h2>Universities Attended</h2>
    <h4><a href="http://www.ucla.edu/">UCLA</a></h4>
    <p><em>Jun 2013 - Jun 2014</em><br>
    Master of Science, Chemistry.</p>
    <hr>
    <h4><a href="http://www.ucr.edu/">UC Riverside</a></h4>
    <p><em>Sep 2009 - Jun 2013</em><br>
    Bachelor of Science, Chemistry.</p>
  </section>

  <section class="white-box-2">
    <h2>Developer Skills</h2>
    <p>HTML/CSS, JavaScript, jQuery, AngularJS, ReactJS, Ruby, Python, SQL, Git, <em>more to come...</em></p>
  </section>
</div>
