<div class="content-wrap">
  <section class="white-box-3">
    <h4>Google+</h4>
    <a href="http://www.google.com/+AndrewCarlson005"><img id ="cont" src="imgs/google-b.jpg"></a>
  </section>

  <section class="white-box-3">
    <h4>Github</h4>
    <a href="https://github.com/acarl005"><img id ="cont" src="imgs/github.jpg"></a>
  </section>

  <section class="white-box-3">
    <h4>LinkedIn</h4>
    <a href="https://www.linkedin.com/profile/view?id=242315253"><img id ="cont" src="imgs/linkedin-b.jpg"></a>
  </section>

  <section class="white-box-3">
    <h4>Twitter</h4>
    <a href="https://twitter.com/acarl005"><img id ="cont" src="imgs/twitter2-b.jpg"></a>
  </section>

  <section class="white-box-3">
    <h4>Facebook</h4>
    <a href="http://www.facebook.com/andy.carlson3"><img id ="cont" src="imgs/facebook-b.jpg"></a>
  </section>

  <section class="white-box-3">
    <h4>Other</h4>
    <p id="other">acarl005@g.ucla.edu<br>
      (925) 325-0962<br>
      <a href="http://www.quora.com/Andy-Carlson-5">Quora</a><br>
      <a href="https://news.ycombinator.com/user?id=acarl005">Hacker News</a><br><br>
    </p>
  </section>
  <br style="clear:both">
</div>