<div class="content-wrap">
  <section class="white-box">
    <h3>Projects</h3>
    <article>
    	<a href="http://teamdarity.herokuapp.com">Darity (Dares for Charity)</a>
    	<div class="icons">
    		<span class="icon-ruby"></span>
    		<span class="icon-ruby-on-rails-alt"></span>
    		<span class="icon-javascript"></span>
    		<span class="icon-html"></span>
    		<span class="icon-css"></span>
    		<span class="icon-heroku"></span>
    		<span class="icon-postgres"></span>
    	</div>
    </article>
    <article>
      <a href="./grocery-list">Grocery List App</a><br>
      <a href="./cheat-sheet">Git Cheat Sheet</a><br>
      <a href="#">This Website</a><br>
    </article>
  </section>
</div>