body {
  width: 960px;
}

nav {
  width: 960px;
}

nav a {
  width: 156px;
}

footer {
  width: 960px;
}

aside {
  width: 180px;
}

.backed {
  width: 960px;
}

.content-wrap {
  width: 960px;
}

.white-box-2 {
  width: 650px;
}

#hex {
  width: 960px;
  height: 16em;
}