body {
  width: 100%;
}

nav {
  width: 100%;
}

nav a {
  width: 32.5%;
  height: 1.2em;
  font-size: 1em;
  padding-top: 5px;
}

footer {
  width: 100%;
}

footer ul {
  padding-left: 10px;
}

footer li {
  padding-right: 5px;
}

footer div {
  width: 60px;
}

footer div h4 {
  margin-top: 5px;
}

aside {
  display: none;
}

.content-wrap {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.white-box-2 {
  width: 90%;
  margin-left: 5%
}

.white-box-2 ol {
  display: none;
}