body {
  width: 100%;
}

nav {
  width: 100%;
}

nav a {
  width: 32.5%;
  height: 1.2em;
  font-size: 1em;
  padding-top: 5px;
}

footer {
  width: 100%;
}

footer ul {
  padding-left: 10px;
}

footer li {
  padding-right: 5px;
}

footer div {
  width: 60px;
}

footer div h4 {
  margin-top: 5px;
}

aside {
  display: none;
}

.content-wrap {
  width: 100%;
}

.white-box {
  width: 90%;
}

.white-box article {
  width: 90%;
}

.white-box-2 {
  width: 90%;
  margin-left: 5%;
}

.white-box-2 p, .white-box-2 h2, .white-box-2 b, .white-box-2 h3, .white-box-2 h4 {
 margin-right: 20px
}

.white-box-3 {
  width: 240px;
}

#hex {
  width: 100%;
  height: 8em;
}

#hex h1 {
  font-size: 1.5em;
  top: 15px;
}

#hex h1 span {
  font-size: 1em;
}