#trash {
  background: white;
  border: none;
  padding: 0;
  color: #00CCFF;
}

.btn {
  margin-right: 20px;
}

.form-inline .form-group {
  padding-right: 10px;
}

td {
  max-width: 140px;
  overflow: scroll;
}